# Data Types

## numeric

### int

In [125]:
type(12)

int


### float

In [126]:
type(12 + 10.25)

float

### complex

In [127]:
type(12 + 3j)

complex

## Boolean

In [128]:
type(False)

bool

In [129]:
1 >5

False

In [130]:
1 == 1

True

## String

### Single Quote

In [131]:
'Single quote'

'Single quote'

### Double Quote

In [132]:
"Double quote"

'Double quote'

### Triple Quote

In [133]:
multi_line = """
The ice crea vanquished
my longing for sweets,
upon this diet  I look away
i tno longer exists on this day.
"""
print(multi_line)

The ice crea vanquished
my longing for sweets,
upon this diet  I look away
i tno longer exists on this day.

### Access string thru indexes

In [134]:
a = 'Hello World'

print(a[1])

e

In [135]:
print(a[2:5])

llo

In [136]:
a * 3

'Hello WorldHello WorldHello World'

In [137]:
a + a

'Hello WorldHello World'

## Lists

In [138]:
# list
[1,2,3]

[1, 2, 3]

In [139]:
['chocolate', 3, ['scoops', 'spoon'], True]

['chocolate', 3, ['scoops', 'spoon'], True]

In [140]:
ice_cream = ['cookie', 'strawberry', 'chocolate']

In [141]:
ice_cream.append('salted caramel')
ice_cream

['cookie', 'strawberry', 'chocolate', 'salted caramel']

In [142]:
nest_list = ['vanilla', 3, ['spoon', 'scoop'], True]

In [143]:
nest_list[2][1]

'scoop'

## Tuples

* Tuples are immutable
* They can have duplicate values

In [144]:
tuple_scoops = (1,2,3,2,1)

In [145]:
type(tuple_scoops)

tuple

In [146]:
tuple_scoops[0]

1

In [147]:
# cannot append like below as tuples are immutable
# tuple_scoops[0] = 2
# tuple_scoops.append(3)

## Sets

* cannot have duplicate. Also, it will remove the duplicates if there are any
* Cannot be accessed thru indexed because it is un-ordered.

In [148]:
# sets
daily_pints = {1,2,3}

In [149]:
type(daily_pints)

set

In [150]:
print(daily_pints)

{1, 2, 3}

In [151]:
daily_pints_log = {1,2,31,2,3,4,1,2,5,6,3,2}

print(daily_pints_log)

{1, 2, 3, 4, 5, 6, 31}

In [152]:
wifes_daily_pints_log = {1,3,5,7,3,24,5,7,3,2,0}

### Combined unique values

In [153]:
print(daily_pints_log | wifes_daily_pints_log)

{0, 1, 2, 3, 4, 5, 6, 7, 24, 31}

In [154]:
# show only that matches in both sets

print(daily_pints_log & wifes_daily_pints_log)

{1, 2, 3, 5}

In [155]:
# show only that doesnt match in both sets
  ## it will show the output only from the first set

print('daily_pints_log - wifes_daily_pints_log', daily_pints_log - wifes_daily_pints_log)
print('wifes_daily_pints_log - daily_pints_log',wifes_daily_pints_log - daily_pints_log)

daily_pints_log - wifes_daily_pints_log {4, 6, 31}
wifes_daily_pints_log - daily_pints_log {0, 24, 7}

In [156]:
# Shows the value if it is in `one` or the `other` but not in `both`.
  ## outputs completely unique to both the sets
print(wifes_daily_pints_log ^ daily_pints_log)

{0, 4, 6, 7, 24, 31}

## Dictionaries

* it is key/value pair
* cannot access the disctionary by index like a `list` but thru `key`

In [157]:
dict_cream = {'name': "sashank", 'weekly intake': 5, 'favourite ice cream': ['MCC', 'Chocolate']}

In [158]:
type(dict_cream)

dict

In [159]:
print(dict_cream)

{'name': 'sashank', 'weekly intake': 5, 'favourite ice cream': ['MCC', 'Chocolate']}

In [160]:
dict_cream.values()

dict_values(['sashank', 5, ['MCC', 'Chocolate']])

In [161]:
dict_cream.keys()

dict_keys(['name', 'weekly intake', 'favourite ice cream'])

In [162]:
dict_cream.items()

dict_items([('name', 'sashank'), ('weekly intake', 5), ('favourite ice cream', ['MCC', 'Chocolate'])])

In [163]:
dict_cream['name']

'sashank'

In [164]:
dict_cream['name'] = 'Krishna'

print(dict_cream)

{'name': 'Krishna', 'weekly intake': 5, 'favourite ice cream': ['MCC', 'Chocolate']}

### update

In [165]:
# How to update all the value sat one time
  # if the property doesnt exist it will add the property to the orginal list , 
  # if it is there it will update th evalue for the `matching key`.`

dict_cream.update({'name': 'Krishna', 'weight': 100, 'weekly intake': 5, 'favourite ice cream': ['MCC', 'Chocolate']})

print(dict_cream)

{'name': 'Krishna', 'weekly intake': 5, 'favourite ice cream': ['MCC', 'Chocolate'], 'weight': 100}

### delete

In [166]:
# How to delete a property

del dict_cream['weight']

print(dict_cream)

{'name': 'Krishna', 'weekly intake': 5, 'favourite ice cream': ['MCC', 'Chocolate']}